.ant-layout{
    min-height: 100vh;
}
.demo-logo-vertical h2{
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content-panel{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 16px;
}